* {
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body {
    background-color: LightCyan;
    margin: 0; 
}

header, footer {
    background-color: SteelBlue;
    color: white;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 1%;
    flex-wrap: wrap; 
    width: 100%;
}

article {
    padding-top: 40px;
    margin: 1%;
    width: 98%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article:nth-of-type(1) {
    background-color: DodgerBlue;
}

article:nth-of-type(2) {
    background-color: LimeGreen;
}

article:nth-of-type(3) {
    background-color: DarkOrchid;
}

@media screen and (min-width: 800px) {
    
    main {
        flex-direction: row; 
        justify-content: space-between;
    }
    
    article {
        width: 30%;
    }
}

img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding: 20px;
    text-align: left; 
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid SteelBlue;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid SteelBlue;
    padding: 8px;
    text-align: left; 
}

table tr:hover {
    background-color: SteelBlue;
    color: white;
}

table thead tr:hover {
    background-color: initial; 
    color: initial;
}